body {
	background: #000 url(images/bg2.jpeg) no-repeat center right fixed;
}
@font-face {
    font-family: Streamster;
    src: url(images/Streamster.ttf);
}
p {
	text-align: left;
	font-size: 17px;
	width: 50%;
	color: #fff;
	font-family: 'Lora', serif;
	padding-left: 65px;
	padding-top: 15px;
	margin: 0 0 0 0;
}
span {
	float: left;
	width: 0.7em;
	font-size: 300%;
	line-height: 80%;
}
figure {
	float: left;
	border: 1px solid #9C58FF;
	margin: 25px 20px 10px 15px;
}
figcaption {
	text-align: center;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 10px;
}
img {
	float: right;
	margin: 10px;
}
#mh {
	font-family: 'Streamster';
	font-size: 80px;
	text-align: center;
	color: #9C58FF;
	text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
	letter-spacing: 7px;
	margin: 0;
}
.dbl-line {
	border-top: 1px solid #9C58FF;
	border-bottom: 1px solid #9C58FF;
	width: 70%;
}
.blog-title {
	font-family: 'Abril Fatface', cursive; 
	text-align: center;
	color: #9C58FF;
	font-size: 30px;
	text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
	letter-spacing: 5px;
	font-weight: 200;
	width: 60%;
	padding-top: 20px;
	margin-bottom: 20px;
}
.buttons {
	position: fixed;
	visibility: visible;
	margin-left: 0;
	margin-top: 0;
	z-index: 200;

}
.container {
	padding-left: 50px;
}
.container-btm {
	padding-left: 150px;
	margin-bottom: 40px;
	padding-bottom: 40px;
}
.img-plain {
	border: 1px solid #9C58FF;
	padding: 10px;
	margin: 10px
	 20px 10px 20px;
}
.ftrcontainer {
	background: transparent;
	float: left;
	width: 200px;
	height: 200px;
	color: #fff;
	margin: 0 0 0 0;
}
/* begin buttons*/

a {
	display: inline-block;
	text-decoration: none;
}	
a:hover {
	color: #9C58FF;
}
